.form-hint { padding-top: 7px; }
.form-checkbox { margin-right: 1em; }
.logo-sidebar { width: 75%; }
/*------------ HEADER */
.skin-blue-light .main-header li.user-header { background-color: whitesmoke; }
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p { color: #333; }
.dropdown-user-header {
	/* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-bottom-left-radius: 20px;
}
.dropdown-menu > li > a.btn-logout {
	transition: all	0.27s ease;
}
.dropdown-menu > li > a.btn-logout:hover {
	background-color: rgba(60, 141, 188, .9);
	color: floralwhite;
	border-radius: 5px;
	transform: scale(1.05);
}
.img-circle {
	box-shadow: 0 0 20px 1px rgba(204,204,204,.6);
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer { background-color: #fdfdfd }
.box.box-pins { border-top-color: #e2362b }
.select-addon { 
	background-color: #eceeef !important; 
	font-weight: bold;
}
.divider-title { font-weight: bolder; }
.signature-pad {
	user-select: none;
 
  background-color: lightsteelblue;
}
.red-ss { color: #e2362b; }
.btn-round { border-radius: 50%; }
.container-table {
	display: table;
	height: 100vh;
}
.middle-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.session-ended {
	padding: 3%;
	border-radius: 10px;
}
.igroup {
	max-height: 59px;
}
.home-logo-pins {
	height: 50%;
	width: 50%;
	margin: 5% 25%;
}
.btn-form {
	display: inline-block;
	margin-right: .4rem;
}
.mar-paginate{ margin-bottom: 2em; }
.pad-0 { padding: 0;}
.ckbox-child { margin-left: 1em; }
.unstyled-list { 
	list-style: none;
	padding: 0;
}
.m-r-dot5em { margin-right: .5em; }